footer{
    margin-top: 5%
}

#home-img{
    width: 100vw;
    height: 100vh;
    position: relative;
}


#home-text{
    font-size: 3em;
    position: absolute;
    top: 300px;
    left: 0;
    width: 50%;
    font-weight: 300;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    background-color: rgba(212, 225, 87, 0.7);
}


.icon-delete{
    color: #e53935;
}
